@import "tailwindcss";
@theme {
  --color-page: #f8fdfd;
  --color-line1: #2956a3;
  --color-line2: #c9e3ff;
  --color-line3: #ee4b98;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.1em;
}
html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}
.fullpage {
  height: 100%;
}
.parent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  margin-top: 10px;
  margin-left: 25px;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 3em;
}
.first {
  margin-top: 30px;
}
h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.box-parent {
  padding: 10px;
  border: 1px solid black;
}
.box {
  height: calc(25rem / 1.3);
  width: calc(60rem);
  border: 1px dashed #4b4a4a;
  display: flex;
  gap: 10px;

  transition: all 0.4s ease;
}
.jline1,
.jline2,
.jline3 {
  height: 100%;
  width: 10%;
}

.aline1 {
  min-height: 20%;
  width: 100%;
}
.aline2 {
  min-height: 20%;
  width: 100%;
}
.aline3 {
  min-height: 20%;
  width: 100%;
}

.main p {
  padding: 10px 20px;
  background: oklch(86.9% 0.022 252.894);
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.2s ease;
  /* shadow */
}

.main p:hover {
  transform: translateY(-3px);
}
.btns {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
.two {
  margin-bottom: 20px;
  margin-right: 20px;
}
