@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.1em;
}
html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}
.fullpage {
  height: 100%;
}
.parent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background: pink; */
}
.header {
  margin-top: 10px;
  margin-left: 25px;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 3.5em;
  color: oklch(70.2% 0.183 293.541);
}
h2 {
  font-size: 2.5em;
}

.box-parent {
  padding: 10px;
  border: 1px solid black;
}
.box {
  height: 25rem;
  width: 60rem;
  border: 1px dashed #4b4a4a;
  display: flex;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  gap: 10px;
}
.line1 {
  height: 100%;
  width: 10%;
  background: pink;
}
.line2 {
  height: 100%;
  width: 10%;
  background: skyblue;
}
.line3 {
  height: 100%;
  width: 10%;
  background: lightgoldenrodyellow;
}
.flex-start {
  justify-content: flex-start;
}
.flex-center {
  justify-content: center;
}
.flex-end {
  justify-content: flex-end;
}
.flex-space-btw {
  justify-content: space-between;
}
.flex-space-around {
  justify-content: space-around;
}
.main a p {
  padding: 10px 20px;
  background: oklch(86.9% 0.022 252.894);
  border-radius: 5px;
  cursor: pointer;
}
.btns {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
.credit {
  /* position: absolute;
  bottom: 0; */
  color: oklch(70.2% 0.183 293.541);
}
.second {
  margin-bottom: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
}
